@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
   @apply relative;
   font-family: "Jost", sans-serif;
}

.font-DMSerifDisplay{
   font-family: "DM Serif Display", serif;
}

body::before{
   content: '';
   background: url('/assets/img/body-background.jpg');
   background-size: contain;
   z-index: -1;
   @apply absolute inset-0 opacity-40;
}

.MuiInputBase-input:focus{
   box-shadow: none;
}
.MuiOutlinedInput-root{
   height: unset!important;
}

.bg-bodyBg{
   background-image: url(/assets/img/bg.jpg);
}

.bg-dropdown{
   background-image: url(/assets/img/dropdown.svg);
}

.bg-foot{
   background-image: url(/assets/img/footer-background.svg);
}

.bg-homeBg{
   background-image: url(/assets/img/shape.svg);
}

input:not([class*="Mui"]) {
   padding: 10px;
   @apply border;
}
